﻿@model TestTask.Business.Services.Paginations.Dtos.PaginationViewModel<TestTask.Business.Services.Authors.Dtos.AuthorDto>

@{
    ViewBag.Title = "Авторы";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        @foreach (var author in Model.Items)
        {
            <div class="col-6 mb-3">
                <div class="row">
                    <div class="col-6">
                        <img src="@author.PhotoUrl" class="img-fluid" alt="">
                    </div>
                    <div class="col-6">
                        <p class="h5">@author.Fio</p>
                        <p class="h6">Дата рождения: @author.BirthDate.ToString("dd-MM-yyyy")</p>
                        <a 
                            asp-controller="Books" 
                            asp-action="Index" 
                            asp-route-Fio="@author.Fio"
                            class="icon-link">Книги автора</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="row">
                @{
                    Html.RenderPartial("_Pagination", Model.Pagination);
                }
            </div>
    </div>
</div>
