﻿@model TestTask.Business.Services.Categories.Dtos.CategoriesViewModel

@{
    ViewBag.Title = "Жанры";
    Layout = "_Layout";
}

<div class="container px-4 py-5" id="featured-3">
    <div class="row">
        <h2 class="pb-2 border-bottom">Список жанров</h2>
    </div>
    <div class="row">
        @foreach (var categories in Model.Categories)
        {
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <h2>@categories.Name</h2>
                    <a asp-controller="Books" asp-action="Index" asp-route-Category="@categories.Name" class="icon-link">
                        Книги в этом жанре
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
</div>