﻿@model TestTask.Api.Models.BookFormViewModel

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Название книги</label>
    <input type="text" class="form-control" value="@(Model.Book is not null? Model.Book.Title: "")" name="Title" aria-describedby="emailHelp" required>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Описание книги</label>
    <input type="text" class="form-control" value="@(Model.Book is not null? Model.Book.Description: "")" name="Description" aria-describedby="emailHelp" required>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Текст книги</label>
    <textarea name="Text" id="exampleInputEmail1" class="form-control" required>@(Model.Book is not null? Model.Book.Text: "")</textarea>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ссылка на картинку книги</label>
    <input type="text" class="form-control" value="@(Model.Book is not null? Model.Book.ImageUrl: "")" name="ImageUrl" aria-describedby="emailHelp" required>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">ISBN</label>
    <input type="text" class="form-control" value="@(Model.Book is not null? Model.Book.Isbn: "")" name="Isbn" aria-describedby="emailHelp" required>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Дата написания</label>
    <input type="date" class="form-control" value="@(Model.Book is not null? Model.Book.WroteAt.ToString("yyyy-MM-dd"): "")" name="WroteAt" required>
</div>
<div class="mb-3">
    @Html.DropDownList("Categories", new MultiSelectList(Model.Categories, "Value", "Text", Model.SelectedCategoryIds), new {multiple = "multiple", required = "required"})
</div>
<div class="mb-3">
    @Html.DropDownList("Authors", new MultiSelectList(Model.Authors, "Value", "Text", Model.SelectedAuthorIds), new {multiple = "multiple", required = "required"})
</div>