﻿@using TestTask.Business.Services.Books.Dtos
@model TestTask.Business.Services.Paginations.Dtos.PaginationDto

@{
    var queryParams = (GetBooksRequest) Model.QueryParams;
}

@if (Model.Pagination.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.PageNumber - 1)"
       asp-route-Category="@(queryParams is not null ? queryParams.Category : "")"
       asp-route-Fio="@(queryParams is not null ? queryParams.Fio : "")"
       asp-route-WroteAt="@(queryParams is not null ? queryParams.WroteAt : "")"
       asp-route-BookName="@(queryParams is not null ? queryParams.BookName : "")"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.Pagination.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.PageNumber + 1)"
       asp-route-Category="@(queryParams is not null ? queryParams.Category : "")"
       asp-route-Fio="@(queryParams is not null ? queryParams.Fio : "")"
       asp-route-WroteAt="@(queryParams is not null ? queryParams.WroteAt : "")"
       asp-route-BookName="@(queryParams is not null ? queryParams.BookName : "")"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}