﻿@model TestTask.Api.Models.BookFormViewModel

@{
    ViewBag.Title = "Добавление книги";
    Layout = "_Layout";
}

<div class="container">
    <h1>Добавление книги</h1>
    <div class="row mb-5">
        <div class="col">
            <form method="POST" asp-action="Create">
                @{
                    Html.RenderPartial("_CreateEditBookForm", Model);
                }
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
</div>