﻿@model TestTask.Api.Models.BookFormViewModel

@{
    ViewBag.Title = "Редактирование книги";
    Layout = "_Layout";
}
<div class="container">
    <h1>Редактирование книги</h1>
    <div class="row mb-5">
        <div class="col">
            <form asp-controller="Books" asp-action="Update" asp-route-id="@Model.Book.Id">
                @{
                    Html.RenderPartial("_CreateEditBookForm", Model);
                }
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
</div>