﻿@model TestTask.Api.Models.BooksPageViewModel

@{
    ViewBag.Title = "Books Page";
}

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <form method="GET" asp-action="Index">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Название книги</label>
                    <input type="text" class="form-control" name="BookName" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ФИО автора</label>
                    <input type="text" class="form-control" name="Fio" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Год написания книги</label>
                    <input type="number" class="form-control" name="WroteAt" min="0" step="1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <select class="form-select" name="Category" aria-label="Default select example">
                        <option value="" selected>Выберете жанр</option>
                        @foreach (var categories in Model.Categories)
                        {
                            <option value="@categories.Id">@categories.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Фильтр</button>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var book in Model.Books.Items)
        {
            <div class="col-4 mb-2">
                <div class="card shadow-sm">
                    <img src="@book.ImageUrl" alt="" class="card-img-top">
                    <div class="card-header">
                        @foreach (var categories in book.Categories)
                        {
                            <p>@categories.Name</p>
                        }
                        <small class="text-muted">
                            @foreach (var authors in book.Authors)
                            {
                                @authors.Fio
                                <br>
                            }
                        </small>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Show" asp-controller="Books" asp-route-id="@book.Id">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </a>
                            </div>
                            <small class="text-muted">@book.WroteAt</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @{
            Html.RenderPartial("_Pagination", Model.Books.Pagination);
        }
    </div>
</div>