﻿@model TestTask.Api.Models.BookViewModel

@{
    ViewBag.Title = Model.Book.Title;
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Book.Id">Редактировать</a>
    </div>
    <div class="row">
        <div class="col-7 mr-2">
            <div class="row">
                <div class="card shadow-sm">
                    <img src="@Model.Book.ImageUrl" alt="" class="card-img-top">
                    <div class="card-header">
                        <p>@Model.Book.Title</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Описание: @Model.Book.Description</h5>
                        <p class="card-text mt-4">@Model.Book.Text</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5>Информация: </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p>
                                <b>Дата написания: @Model.Book.WroteAt</b>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <b>Автор(ы):</b>
                            </p><br>
                            @foreach (var author in Model.Book.Authors)
                            {
                                <p>@author.Fio</p>
                                <br>
                            }
                        </div>
                        <div class="row">
                            <p>
                                <b>Жанр(ы):</b>
                            </p><br>
                            @foreach (var category in Model.Book.Categories)
                            {
                                <p>@category.Name</p>
                                <br>
                            }
                        </div>
                        <div class="row">
                            <p>
                                <b class="ml-2">ISBN:</b> @Model.Book.Isbn
                            </p><br/>
                        </div>
                        <div class="row">
                            <p>
                                <b>Статистика:</b>
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Длина текста: @Model.BookStatistics.TextLenght</li>
                                <li class="list-group-item">Кол-во слов: @Model.BookStatistics.AmountOfWords</li>
                                <li class="list-group-item">Кол-во уникальных слов: @Model.BookStatistics.AmountOfUniqueWords</li>
                                <li class="list-group-item">Средняя длина слова: @Model.BookStatistics.WordAverageLenght</li>
                                <li class="list-group-item">Средняя длина предложения: @Model.BookStatistics.SentenceAverageLenght</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>